* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  background-color: #fff8e7;
}

input,
textarea {
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #ffc107 !important;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 575px) {
  header .d-flex {
    flex-direction: column;
    gap: 15px;
  }

  footer .d-flex {
    flex-direction: column;
    gap: 15px;
  }
}
